# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
    # primary image for building app
    - image: circleci/golang:1.13

    # service images available at `host: localhost`
    - image: circleci/postgres:11-alpine
      environment:
        POSTGRES_USER: dev-user
        POSTGRES_PASSWORD: dev-secret
        POSTGRES_DB: my_postgres_db

    branches:
      ignore:
      - develop

    working_directory: /go/src/github.com/swisscom/backman

    steps:
      - checkout
      # unit tests
      - run: make test

      # build binary
      - run: make build

      # minIO server
      - run:
          name: install minIO server
          command: |
            curl https://dl.min.io/server/minio/release/linux-amd64/minio
            cp minio /usr/local/bin/minio
            chmod +x /usr/local/bin/minio
      - run:
          name: run minIO server
          command: MINIO_ACCESS_KEY_FILE=deadbeef-beefdead MINIO_SECRET_KEY_FILE=beefbeefbeefbeef minio server /data
          background: true

      # postgres integration tests
      - run:
          name: install Postgres client
          command: sudo apt install -y postgresql-client || true
      - run: make postgres-test
